# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_AEGIR_CENTRAL_DONGLE
    def_bool $(shields_list_contains,aegir_central_dongle)

config SHIELD_AEGIR_CENTRAL_LEFT
    def_bool $(shields_list_contains,aegir_central_left)

config SHIELD_AEGIR_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,aegir_peripheral_left)

config SHIELD_AEGIR_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,aegir_peripheral_right)
