# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_AEGIR_CENTRAL_DONGLE || SHIELD_AEGIR_CENTRAL_LEFT
config ZMK_KEYBOARD_NAME
    default "AEGIR"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 3

config BT_MAX_PAIRED
    default 3
endif

if SHIELD_AEGIR_CENTRAL_DONGLE || SHIELD_AEGIR_CENTRAL_LEFT || SHIELD_AEGIR_PERIPHERAL_LEFT || SHIELD_AEGIR_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y

endif
